<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}"/>
</head>
<body>

	<div class="container">
	
		<div th:if="${errors}">
			<div>Errors:</div>
			<ul>
				<li th:each="e : ${errors}" th:object="${e}">
					[[ *{defaultMessage} ]]
				</li>
				<li>
					[[ ${exception} ]]
				</li>
			</ul>
		</div>
	
		<div class="row">
			
			<form 
				th:fragment="photoForm(submitType)"
				th:action="@{/admin/photo/store}" method="POST"
				th:object="${photo}" class="col-8 offset-2 mt-5">
				
				
				<input type="number" th:field="*{id}" hidden>
				
				<div class="input-group mb-3">
				  <span class="input-group-text">Title</span>
				  <input type="text" class="form-control" name="title" th:field="*{title}">
				</div>
				
				<div class="input-group mb-3">
				  <span class="input-group-text">Photo url</span>
				  <input type="text" class="form-control" name="url" th:field="*{url}">
				</div>
				
				<div class="form-check">
				  <input class="form-check-input" type="radio" name="is_visible" value="1"
						id="flexRadioDefault1" th:field="*{visible}">
				  <label class="form-check-label" for="flexRadioDefault1">
				    Yes
				  </label>
				</div>
				<div class="form-check">
				  <input class="form-check-input" type="radio" name="is_visible" value="0"
				  	id="flexRadioDefault2" th:field="*{visible}">
				  <label class="form-check-label" for="flexRadioDefault2">
				    No
				  </label>
				</div>
				
				<div class="row">
					
					<div class="col-5">
						<div class="form-check form-switch">
						  <h6>Tags:</h6>
						  <div th:each="tag : ${ts}" th:object="${tag}">
						  	<input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" 
						  		th:value="*{id}" th:field="${photo.tags}" name="tags">
						  	<label class="form-check-label" for="flexSwitchCheckDefault">[[*{name}]]</label>
						  </div>
						</div>
					</div>
					
					<div class="col-5">
						<div class="form-check form-switch">
						  <h6>Categories:</h6>
						  <div th:each="category : ${cs}" th:object="${category}">
						  	<input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" 
						  		th:value="*{id}" th:field="${photo.categories}" name="category">
						  	<label class="form-check-label" for="flexSwitchCheckDefault">[[*{name}]]</label>
						  </div>
						</div>
					</div>
					
				</div>
			
				<button type="submit" class="btn btn-success"  th:text="${submitType}"></button>
			</form>
		</div>
	</div>
</body>
</html>